<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>SassyClub</title>

    <!-- Styles -->
    @*<link href="~/SassySite/SiteAssets/css/page.min.css" rel="stylesheet" />
        <link href="~/SassySite/SiteAssets/css/style.css" rel="stylesheet" />*@

    <link href="~/assets/css/page.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel=" stylesheet" />

    <link href="~/SassySite/aaMyassets/css/myStyle.css" rel="stylesheet" />
    @*<link href="SiteAssets/css/page.min.css" rel="stylesheet">
        <link href="SiteAssets/css/style.css" rel="stylesheet">*@
    @*<link href="aaMyassets/css/myStyle.css" rel="stylesheet">*@

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="aaMyassets/images/favicon.png">
</head>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
        <div class="container">

            <div class="navbar-left">
                <button class="navbar-toggler" type="button">&#9776;</button>
                <a class="navbar-brand" href="/">
                    <img class="logo-dark" src="~/SassySite/aaMyassets/images/logo.png" alt="logo" />
                    <img class="logo-light" src="~/SassySite/aaMyassets/images/logo.png" alt="logo" />
                    @*<img class="logo-dark" src="~/aaMyassets/images/logo.png" alt="logo">
                        <img class="logo-light" src="~/aaMyassets/images/logo.png" alt="logo">*@
                </a>
            </div>

            <section class="navbar-mobile">
                <nav class="nav nav-navbar ml-auto">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="topics.html">Topics</a>
                    <a class="nav-link" href="local.html">Local</a>
                    <a class="nav-link" href="book-club.html">Book Club</a>
                    <a class="nav-link" href="career.html">Jobs</a>
                    <a class="nav-link" href="#">Daily Feeds</a>
                    <a class="nav-link" href="#store">Store</a>
                </nav>
            </section>

        </div>
    </nav><!-- /.navbar -->

    <!-- Main Content -->
    <main class="main-content">
        @RenderSection("scripts", required: false)
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer py-7">
        <div class="container text-center">

            <div class="social social-bg-pale-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>

            <br>

            <div class="nav nav-bolder nav-uppercase nav-center">
                <a class="nav-link" href="index.html">Home</a>
                <a class="nav-link" href="topics.html">Topics</a>
                <a class="nav-link" href="local.html">Local</a>
                <a class="nav-link" href="book-club.html">Book Club</a>
                <a class="nav-link" href="career.html">Jobs</a>
                <a class="nav-link" href="#">Daily Feeds</a>
                <a class="nav-link" href="#store">Store</a>
            </div>

            <br>

            <small>&copy; SassyClub 2018, All rights reserved.</small>

        </div>
    </footer><!-- /.footer -->
    <!-- Scroll top -->
    <button class="btn btn-circle btn-primary scroll-top btn-primary-my"><i class="fa fa-angle-up"></i></button>


    <!-- Scripts -->
    <script src="~/assets/js/page.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    @*<script src="~/SassySite/SiteAssets/js/page.min.js"></script>
        <script src="~/SassySite/SiteAssets/js/script.js"></script>*@
    @*<script src="SiteAssets/js/page.min.js"></script>
        <script src="SiteAssets/js/script.js"></script>*@
    <!-- map -->
    @*<script src="aaMyassets/js/bypassAPI.js"></script>
        <script src="aaMyassets/js/map.js"></script>*@
    <script src="~/SassySite/aaMyassets/js/bypassAPI.js"></script>
    <script src="~/SassySite/aaMyassets/js/map.js"></script>

</body>
</html>