
@{
    ViewBag.Title = "Home Page";
}

<header id="home" class="header h-fullscreen" style="background-image: linear-gradient(150deg, #fdfbfb 0%, #eee 100%);">
    <div class="container">
        <div class="row align-items-center h-100">

            <div class="col-md-5">
                <h1 class="display-4 sassy-club-title"><strong>The Sassy Club:</strong><br>Where Friendship Happens</h1>
                <p class="lead mt-5">Join the secret community of women that can look in the mirror with frizzy hair and tell themselves that you are a hot sassy mamas.</p>
                <hr class="w-10 ml-0 my-7">
                <a class="btn btn-lg btn-round btn-success mr-2 w-200 btn-success-my" href="@Url.Action("Login","Account")">Login</a>
                @*<a class="btn btn-lg btn-round btn-success mr-2 w-200 btn-success-my" href="#section-pricing">Login</a>*@
                <a class="btn btn-lg btn-round btn-outline-success w-200 btn-outline-success-my" href="@Url.Action("Register","Account")">Join</a>
            </div>

            <div class="col-md-6 ml-auto">
                <div class="video-wrapper ratio-16x9 rounded shadow-6">
                    <div class="poster" style="background-image: url(aaMyassets/images/video-poster.png)"></div>
                    <button class="btn btn-circle btn-lg btn-info btn-info-my"><i class="fa fa-play"></i></button>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kucKKLbkYzg?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</header><!-- /.header -->
<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Products
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section class="section">
    <div class="container">
        <header class="section-header">
            <h2>The Anti-Perfection Community</h2>
            <p class="lead">The place where The Sassy Club comes together for on-going support.</p>
        </header>


        <div class="row gap-y">

            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-map-marker fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Local Groups</strong></h6>
                </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-users fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Community</strong></h6>
                </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-tags fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Rewards</strong></h6>
                </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-comments fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Forums</strong></h6>
                </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-microphone fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Testimonies</strong></h6>
                </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
                <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                    <p style="color: #d22525"><i class="fa fa-bookmark fa-4x"></i></p>
                    <h6 class="mb-0"><strong>Book Club</strong></h6>
                </a>
            </div>

        </div>
    </div>
</section>


<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Features
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section id="section-features" class="section">
    <div class="container">
        <header class="section-header">
            <h2>The Sassy Club is For You To Stay Sassy.</h2>
            <hr>
        </header>


        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>You are not alone</h4>
                <p>Whether you’re dealing with insecurity, loneliness, life changes or struggles with your faith - you are not alone. The Sassy Club is a community designed for women who are facing the same challenges, big (relational, spiritual, emotional, etc) or small (what do I wear with these shoes?!). We are here to do life together.</p>
            </div>

            <div class="col-md-5 order-md-first">
                <img src="~/SassySite/aaMyassets/images/home-block-1.jpg" alt="..." />
                @*<img src="aaMyassets/images/home-block-1.jpg" alt="...">*@
            </div>
        </div>


        <hr class="my-8">


        <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-auto">
                <h4>Communicate Globally, Connect Locally</h4>
                <p>Knowing each other online is great, but nothing beats face to face interaction. The Sassy Club has localized groups across the United States where you get the chance to meet your Sassy Sisters IRL! Whether it’s a lazy weekend brunch, drinks after work, or a hike at your favorite spot, your local group is the best way for you to meet new friends and form lasting relationships.</p>
            </div>

            <div class="col-md-5">
                <img src="~/SassySite/aaMyassets/images/home-block-2.jpg" alt="..." />
                @*<img src="aaMyassets/images/home-block-2.jpg" alt="...">*@
            </div>
        </div>


        <hr class="my-8">


        <div class="row gap-y align-items-center">
            <div class="col-md-6 ml-auto">
                <h4>A Safe Space for You to Share and Relate</h4>
                <p>The Sassy Club aims to be a safe space for you to be vulnerable about your struggles and successes. We aren’t here to pretend to have our lives together - we’re here to be real about the difficulties and joys in life. If you want a sisterhood that’s ready to stand by you in a hard season of life and on your worst hair day, we’ve got you.</p>
            </div>

            <div class="col-md-5 order-md-first">
                <img src="~/SassySite/aaMyassets/images/home-block-3.jpg" alt="..." />
                @*<img src="aaMyassets/images/home-block-3.jpg" alt="...">*@
            </div>
        </div>


    </div>
</section>

<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Testimonial
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->

<section class="section">
    <div class="container">

        <div data-provide="slider" data-autoplay="true">

            <div class="px-6">
                <blockquote class="blockquote">
                    <p class="lead-4">The Sassy Club has been a breath of fresh air during a time when I was extremely lonely and hopeless.</p>
                    <br>
                    @*<div><img class="avatar avatar-xl" src="~/SassySite/aaMyassets/images/topic/" alt="..."></div>*@
                    <div><img class="avatar avatar-xl" src="aaMyassets/images/testimonial/1_Whitney Adams.jpg" alt="..."></div>
                    <footer>Whitney Adams</footer>
                </blockquote>
            </div>

            <div class="px-6">
                <blockquote class="blockquote">
                    <p class="lead-4">This is the group of girls that I get together with and walk through life with almost everyday.</p>
                    <br>
                    <div><img class="avatar avatar-xl" src="aaMyassets/images/testimonial/2_Ruthie Lindsay.jpg" alt="..."></div>
                    <footer>Ruthie Lindsay</footer>
                </blockquote>
            </div>

            <div class="px-6">
                <blockquote class="blockquote">
                    <p class="lead-4">The Sassy Club helped me get introduced into a new city when I did not know anyone.</p>
                    <br>
                    <div><img class="avatar avatar-xl" src="aaMyassets/images/testimonial/3_Taylor Giger.jpg" alt="..."></div>
                    <footer>Taylor Giger</footer>
                </blockquote>
            </div>

        </div>

    </div>
</section>


<!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Map
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
<section class="section p-0">
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>
</section>


<!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | CTA
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->

<section class="section text-center">
    <div class="container">
        <h2 class="mb-6"><strong>Join over 10,000 like minded women</strong></h2>
        <p class="lead text-muted">Click Below to Fill Out Your Application</p>
        <hr class="w-5 my-7">
        <a class="btn btn-lg btn-round btn-info btn-success-my" href="#">Join Today</a>
    </div>
</section>
